<!DOCTYPE html>
<html>
<head>
  <title>Positwivity</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="header">
      <h1>Positwivity: Making YOU a happier place</h1>
    </div> 

    <%= yield %>

  </div>  
</body>
</html>
